<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/">
    <title>@ViewBag.Title</title>
    @RenderSection("styles",false)
</head>
<body>
   
   
        @RenderBody()
   
    @RenderSection("scripts", false)
</body>
</html>
